.nav {
  font-family:'Trebuchet MS';
  font-size:17px;
  list-style:none;
  margin-top:20px;
  text-align:center;
}

.link {
  display:inline;
  position:relative;
}

.link a {
  color:#333;
  display:inline-block;
  padding:10px;
  text-decoration:none;
}

.selected a {
 	color:#0088CC;
}

.border {
  background:#0088CC;
  bottom:-10px;
  display:block;
  height:4px;
  left:10px;
  position:absolute;
  width:calc(100% - 23px);
}

.link a:hover {
 	color:#0088CC;
}

.link a:hover ~ .border{
 	 animation:ul 0.3s ease-out;
   background:#333;
}

@keyframes ul {
 	0% { 
    width:0;
  }
  100% { 
    width:calc(100% - 23px);
  }
}
